<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunpoit.oa.dao.AclMapper" >
  <resultMap id="BaseResultMap" type="com.xunpoit.oa.entity.Acl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="main_type" property="mainType" jdbcType="VARCHAR" />
    <result column="main_id" property="mainId" jdbcType="INTEGER" />
    <result column="module_id" property="moduleId" jdbcType="INTEGER" />
    <result column="acl_state" property="aclState" jdbcType="INTEGER" />
    <result column="extend_state" property="extendState" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, main_type, main_id, module_id, acl_state, extend_state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_acl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_acl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xunpoit.oa.entity.Acl" >
    insert into t_acl (id, main_type, main_id, 
      module_id, acl_state, extend_state
      )
    values (#{id,jdbcType=INTEGER}, #{mainType,jdbcType=VARCHAR}, #{mainId,jdbcType=INTEGER}, 
      #{moduleId,jdbcType=INTEGER}, #{aclState,jdbcType=INTEGER}, #{extendState,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xunpoit.oa.entity.Acl" >
    insert into t_acl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mainType != null" >
        main_type,
      </if>
      <if test="mainId != null" >
        main_id,
      </if>
      <if test="moduleId != null" >
        module_id,
      </if>
      <if test="aclState != null" >
        acl_state,
      </if>
      <if test="extendState != null" >
        extend_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mainType != null" >
        #{mainType,jdbcType=VARCHAR},
      </if>
      <if test="mainId != null" >
        #{mainId,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="aclState != null" >
        #{aclState,jdbcType=INTEGER},
      </if>
      <if test="extendState != null" >
        #{extendState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xunpoit.oa.entity.Acl" >
    update t_acl
    <set >
      <if test="mainType != null" >
        main_type = #{mainType,jdbcType=VARCHAR},
      </if>
      <if test="mainId != null" >
        main_id = #{mainId,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null" >
        module_id = #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="aclState != null" >
        acl_state = #{aclState,jdbcType=INTEGER},
      </if>
      <if test="extendState != null" >
        extend_state = #{extendState,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xunpoit.oa.entity.Acl" >
    update t_acl
    set main_type = #{mainType,jdbcType=VARCHAR},
      main_id = #{mainId,jdbcType=INTEGER},
      module_id = #{moduleId,jdbcType=INTEGER},
      acl_state = #{aclState,jdbcType=INTEGER},
      extend_state = #{extendState,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>