<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunpoit.oa.dao.PersonMapper" >
  <resultMap id="BaseResultMap" type="com.xunpoit.oa.entity.Person" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="duty" property="duty" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <association property="org"
    			 javaType="com.xunpoit.oa.entity.Person"
    			 select="selectOrgById"
    			 column="org_id"
    />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, sex, address, age, duty, phone, org_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_person
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectOrgById" resultType="com.xunpoit.oa.entity.Org" parameterType="java.lang.Integer" >
    select 
    id, name, sn, description, pid
    from t_org
    where id = #{id,jdbcType=INTEGER}
  </select>
  
   <!-- 分页的方法；2个 -->
  <select id="findAllByParent" resultMap="BaseResultMap" parameterType="java.util.Map">
      select 
      <include refid="Base_Column_List"/>
      from t_person
      limit #{offset},#{pageSize}
  </select>
  
  <select id="selectCount" resultType="long">
     select count(*) from t_person
   
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_person
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xunpoit.oa.entity.Person" >
    insert into t_person (id, name, sex, 
      address, age, duty, 
      phone, org_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{duty,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{org.id,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xunpoit.oa.entity.Person" >
    insert into t_person
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="duty != null" >
        duty,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="org != null" >
        org_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="duty != null" >
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="org != null" >
        #{org.id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xunpoit.oa.entity.Person" >
    update t_person
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="duty != null" >
        duty = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="org != null" >
        org_id = #{org.id,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xunpoit.oa.entity.Person" >
    update t_person
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      duty = #{duty,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      org_id = #{org.id,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>